.chart-container {
    width: 100%;
    box-shadow: 0 0 26px -10px gray;
    padding: 2rem;
    border-radius: 8px;
    h3 {
        padding-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 700;
    }

    ResponsiveContainer {
        padding-bottom: 2rem;
    }
    
}