.edit-product {
    width: 100%;
    padding: 2rem;
}

.editProduct-title-container {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .editProduct-btn {
        padding: 0.5rem 2rem;
        font-size: 1.3rem;
        background-color:#eee3ff;
        border-radius: 8px;
        transition: all 0.3s ease;

        &:hover {
            background-color: #b98eff;
        }
    }

    .editProduct-title {
        font-size: 3rem;
        font-weight: bold;
        position: relative;
    }

    .editProduct-title::after {
        content: "";
        width: 500px;
        height: 3px;
        position: absolute;
        bottom: 0;
        background: #b98eff;
        left: 0;
    }
}


.edit-product-top{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: 95%;
    margin: 0 auto;
    padding-top: 5rem;

}

.edit-product-top-right{
    flex: 3;
}

.edit-product-top-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: 100%;
    box-shadow: 0 0 26px -10px gray;
    padding: 0 2rem 1rem 2rem;
    border-radius: 8px;

}

.edit-top-left-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    h3 {
        font-size: 1rem;

    }

    h2 {
        font-size: 1.5rem;
        width: 100%;
        padding-left: 0.5rem;
    }

    img {
        width: 7rem;
        height: 7rem;
    }

    span {
        color: gray;
    }
}
