.home-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    flex: 5;
    padding-top: 2rem;

}

.background {
    background-color: #ece1ff;
    position: fixed;
    z-index: -1;
    width: 100%;

}

.features-wrapper {
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}

.arrow-up {
    color: green;

}

.arrow-down {
    color: red;
    transform: rotate(180deg);
}

.arrow-down , .arrow-down {
    width: 2rem;
    height: 2rem;
}

.chart-wrapper {
    width: 95%;
    margin: 0 auto;
}

.widgets-wrapper {
    display: flex;
    width: 95%;
    margin: 0 auto;
    column-gap: 2rem;

    WidgetLg {
        flex: 2;
    }
}