@import '../../variables.scss';

.sidebar {

    background-color: #eee3ff;
    position: sticky;
    height: 100vh;
    flex: 1;

    .sidebar-container {
        padding:  0 2rem;

        p {
            padding-top: 1rem;
            padding-bottom: 0.2rem;
            font-weight: 900;
            color: #666666;
            font-size: 0.9rem;

        }

        li {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            font-size: 1rem;
            color: #343434;
            width: 100%;
            padding: 0.5rem 0.2rem ;
            border-radius: 8px;
            transition: all 0.3s ease;
            padding-left: 1rem;
        }

        a {
            display: flex;
            align-items: center;
            width: 100%;

        }
    }
}


li:hover , .active {
   background: #ddc8ff; 
   cursor: pointer;
}
