.widget-sm-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
    width: 100%;
    box-shadow: 0 0 26px -10px gray;
    border-radius: 8px;
    flex: 1;
    
    h3 {
        font-size : 1.8rem;
        font-weight: 700;
        padding-bottom: 1rem;
    }

}