$primary-color1: #A05AFF;
$primary-color2: #1BCFB4;
$blue-color: #4bcbeb;
$light-blue-color: #c0e5ef;
$dark-blue-color: #1280da;
$pink-color: #FE9496;
$light-pink-color: #ffe2e3;
$dark-pink-color: #ff5d63;
